@model List<WebApplication1.Models.TeachersDetailsViewModel>;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Email </th>
            <th> Department </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Teacher in Model)
        {
            <tr>
                <td> @Teacher.Id </td>
                <td> @Teacher.Name </td>
                <td> @Teacher.Email </td>
                <td> @Teacher.Department </td>
                <td> <a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Details" asp-route-id="@Teacher.Id">Details</a></td>
                <td> <a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Edit" asp-route-id="@Teacher.Id">Edit</a></td>
                <td>
                    <form asp-controller="Teachers" asp-action="Delete" asp-route-id="@Teacher.Id" method="post" style="display:inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete this student?');">🗑️ Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>