@using WebApplication1.ViewModels
@model StudentDetailViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Student Details</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
		<td>@Model.DateofBirth</td>
	</tr>
    <tr>
		<th>Gender</th>
		<td>@Model.Gender</td>
    </tr>
    <tr>
        <th>Country of Birth</th>
		<td>@Model.CountryofBirth</td>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Phone Number</th>
		<td>@Model.PhoneNumber</td>
	</tr>
    <tr>
		<th>Address</th>
		<td>@Model.Address</td>
	</tr>

    <tr>
        <th>Enrollment Date</th>
        <td>@Model.EnrolmentDate</td>
    </tr>
   
</table>

<h2>Class Teacher</h2>
@if(Model.ClassTeacher != null)
{
    <div>
        Name: @Model.ClassTeacher.Name,
        Department: @Model.ClassTeacher.Department
    </div>
}

<h2>Primary Course</h2>

        <p>Use a table to display the list of optional courses.</p>