@model List<WebApplication1.Models.StudentDetailViewModel>

<!--Generate html for rendering a list of students-->

<a class="btn btn-primary mb-3" asp-controller="Students" asp-action="Create">Create New.</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Enrollment Date</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.EnrolmentDate</td>
                <td> <a class="btn btn-primary mb-1" asp-controller="Students" asp-action="Details" asp-route-id="@student.Id">Details</a> </td>
                <td> <a  class="btn btn-primary mb-1" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a> </td>
                <td>
                    <form asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id" method="post" style="display:inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete this student?');">🗑️ Delete</button>
                    </form>
                </td>
            </tr>
           
        } 
    </tbody>
</table>


